.container {
    margin: 0 50px;
}

.grid {
    font-family: 'Roboto', sans-serif;
    color: #1F2226;    
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
 
}

.grid>div {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #EBEBEB;
}

.cabecera {
    display: flex;    
    background-color: #ffe4eb;
    border: 1px solid #F3CAD5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF7698;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.cabecera p {
    font-size: 14px;
    color: #FF7698;
    text-transform: uppercase;
}

.cabecera object {
    height: 50px;
}

.cabecera hr {
    margin: 0 20px 0 20px;
    width: 1px;
    height: 25px;
    color: #FF7698;
    border: none;
    background-color: #FF7698;
}

.videos {    
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.foto {
    
    align-self: start;
}

.foto img {
    display: block;
    max-width: 100%;
}

.txt-aviso {
    text-align: center;
    margin: 0;
}

.txt-aviso-titulo {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 1rem;
}

.txt-contenido-titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
}

.contenido hr {
    margin: 20px 0 20px 0;
    height: 1px;
    border: none;
    background-color: #EBEBEB;
}

.contenido {
    
    padding: 30px;
}

.contenido>ul {
    margin: 0;
    padding-left: 15px;
}

.lista-info {
    margin: 0 0 15px 0;
    padding-left: 15px;
}

#special-features {
    margin-bottom: 0;
}

.titulo-info {
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0 10px 0;
    margin: 0 0 10px 0;
}

.contenido>h6 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px 0 10px 0;
}

.info {
    
    padding: 30px;
}

.aviso {
    
    background-color: #D1ECF1 !important;
    border: 1px solid #BEE5EB !important;
    padding: 30px;
    color: #0C5460;
}

.bullet1 {
   

}

.bullet2 {
    

}

.bullet3 {
    

}

.bullet4 {
    

}

.bullet1,
.bullet2,
.bullet3,
.bullet4 {
    padding: 30px;
}

.titulo-bullet {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
}

i {
    color: #FF7698;
    font-size: 30px;
}

.metodos {
    display: flex;
}

.metodos>i {
    color: #1F2226;
    font-size: 26px;
    margin: 15px 15px 0 0;
    opacity: 50%;
}

.txt-bullets {
    margin: 0;
}

.shipping {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {

    .grid {
        width: 95%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr auto auto auto auto auto;
        grid-gap: 20px;
        grid-template-areas:
            "header header header"
            ". foto ."
            "contenido contenido info"
            "aviso aviso aviso"
            "bullet1 bullet2 bullet3"
            "bullet4 bullet4 ."
    }

    .txt-contenido-titulo {
        font-size: 26px;
    }

    .cabecera p {
        font-size: 20px;
    }

    .cabecera object {
        height: 80%;
    }

    .cabecera hr {
        height: 40px;
    }

    .foto img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) {

    .grid {
        width: 95%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;       
    }  

    .txt-contenido-titulo {
        font-size: 26px;
    }

    .cabecera {
        grid-column: 1 / 13;
    }

    .foto {
        grid-column: 1 / 4;
    }

    .contenido {
        grid-column: 4 / 9 ;
    }

    .info {
        grid-column: 9 / 12 ;
    }


    .cabecera p {
        font-size: 20px;
    }

    .cabecera img {
        height: 90%;
    }

    .cabecera hr {
        height: 40px;
    }


}